@using Entities
@using Services


<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombres</th>
            <th>apellidos</th>
            <th>Direccion</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var persons in persons)
        {
            <tr>
                <td>@persons.PersonaId</td>
                <td>@persons.Nombres</td>
                <td>@persons.Apellidos</td>
                <td>@persons.Direccion</td>
                <td>@persons.Email</td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<PersonsEntity> persons = new List<PersonsEntity>();

    protected override async Task OnInitializedAsync()
    {
        persons = S_Persons.ListaPerosnas();
    }

}
